@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: rgba(255, 255, 255, 0.233);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

.red{
  color: crimson;
  border-bottom-color: crimson;
}
.red>input::placeholder{
  color: crimson;
}

.joget{
  animation: joget .13s infinite;
}

@keyframes joget{
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

input.input:invalid[focused='true']{
  border: 1px solid crimson;
}

input.input:invalid[focused='true'] ~ .input-error {
  display: block;
}