@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: rgba(255, 255, 255, 0.233);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }